<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/public/stylesheets/style.css' />
</head>
<body>

<% include navBar.ejs %>
<div class="EditTitle">
    <center class="TitleEdit"><%= title %></center>
    <center>Welcome to <%= title %></center>
</div>

<form id="update" action="/update" method="post">

    <div class="Update">
        <h2 class="LoginText">Update</h2>
        <div class="UpdateUsername" id="UpdateUsername">
            <input class="EditUser" id="updateUser"  type="text" name="username" placeholder="<%= data[0].name; %>" maxlength="25">
            <label class="EditUser" for="updateUser"></label>
        </div>

        <div class="UpdatePassword">
            <input class="Update_Password" type="password" name="password" required="" maxlength="50">
            <label class="Update_Password" for="updatePassword">Password</label>
        </div>

        <input class="submit" id="submit" type="submit" form="update" value="Update" name="update" >
        <input type="hidden" value="<%= data[0].id%>" name="idUser" >

    </div>

</form>


</body>
</html>
