<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<% include navBar.ejs %>


<div class="TableTitle">

    <center class="TitleTable"><%= title %></center>
    <center>Welcome to <%= title %></center>

</div>

<table id="users" class="Users">
    <tr>
        <th>Name</th>
        <th>Password</th>
        <th>Id</th>
        <th>Delete</th>
        <th>Edit</th>
    </tr>
    <% if(data) %>
    <% data.forEach(function (user) { %>
        <tr>
            <td> <%= user.name%> </td>
            <td> <%= user.password %> </td>
            <td> <%= user.id %> </td>
            <td>
                <form class="delete" action="/delete" method="post" >
                    <input type="submit" value="Delete" name="delete" />
                    <input type="hidden" value="<%= user.id%>" name="idUser" />
                </form>
            </td>
            <td>
                <form class="edit" action="/edit" method="post" >
                    <input type="submit" value="Edit" name="edit" />
                    <input type="hidden" value="<%= user.id%>" name="idUser" />
                </form>
            </td>
        </tr>

    <% }); %>

</table>


</body>
</html>